.SearchBar input {
    border-radius: 20px;
    color: #242a3d;
    padding-left: 40px;
    margin-bottom: 16px;
  }
  
  .SearchIcon {
    position: absolute;
    font-size: 1.2rem;
    padding: 9px;
    padding-left: 15px;
  }
  
  .SearchIcon:hover {
    cursor: default;
    color: #cfced3;
  }
  .PopularProfilesContainer {
    position: sticky; /* Change to sticky for scrolling behavior */
    top: 20px; /* Adjust the top position as needed */
    right: 20px; /* Adjust the right position to align it properly */
    width: 300px; /* Set a width for the container */
    max-height: 80vh; /* Set a max-height for scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    background-color: transparent; /* Background color for visibility */
   
    z-index: 1000; /* Ensure it stays above other content */
    padding: 10px; /* Padding for inner content */
  }
  
